:root {
    font-size: 62.5%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.6rem;
    position: relative;
}

$--subtopic: #bedcff;
$--goal: #7db9ff;
$--grid: #00000054;
$--grid-hover: #7db9ff;

.mandalart {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

    width: 72rem;
    height: 72rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
}

.grid {
    width: 24rem;
    height: 24rem;
    margin: 1rem;
    border: 1px solid $--grid;
    z-index: 1028;
    background-color: white;

    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(3, 1fr);

    &__item {
        border: 1px solid $--grid;
        margin: 0;
        z-index: 2;

        &:nth-child(5) {
            background-color: $--subtopic;
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 0.5rem $--grid-hover;
    }

    &--main {
        background-color: $--subtopic;

        .grid__item:nth-child(5) {
            background-color: $--goal;
        }
    }
}

.grid_edit {
    position: absolute;
    width: 48rem;
    height: 48rem;
    margin: 1rem;
    border: 1px solid $--grid;
    z-index: 1028;
    background-color: white;

    display: none;
    gap: 0rem;
    grid-template-columns: repeat(3, 1fr);

    button[data-action="cancel"] {
        position: absolute;
        bottom: -3rem;
    }
    button[data-action="save"] {
        position: absolute;
        bottom: -3rem;
        left: 7rem;
    }

    &__item {
        border: 1px solid $--grid;
        margin: 0;
        z-index: 2;

        &:nth-child(5) {
            background-color: $--subtopic;
        }
    }

    &--main {
        background-color: $--subtopic;

        .grid__item:nth-child(5) {
            background-color: $--goal;
        }
    }
}
